<div class="portfolio border-top border-secondary border-5 container-fluid" style="z-index: 2;position: relative;width:100vw;height:60vh;text-align: center;color: rgb(178, 166, 166);">
 <h1 >Portfolio</h1>
 <h4>It is my projects</h4>
<div class="projects container-fluid flex-wrap d-flex justify-content-around mt-5 ">
  <img src="https://cdn-edge.kwork.ru/files/portfolio/t1/32/cover-13848865-1723800247.webp" >
  <img src="https://cdn-edge.kwork.ru/files/portfolio/t1/98/cover-13848668-1723799511.webp">
  <img src="https://cdn-edge.kwork.ru/files/portfolio/t1/25/cover-13848788-1723799965.webp" >
  <img src="https://cdn-edge.kwork.ru/files/portfolio/t1/92/cover-13848582-1723799263.webp" >
</div>
<div class=" m-4 mt-4 p-3"><a href="https://github.com/VALSEV3" target="_blank" class="btn btn-dark" style="width:250px;height:50px;">My github  <img src="https://cdn-icons-png.flaticon.com/512/20/20269.png  " width="25px" height="25px" style="background-color: white;border-radius: 50%;border: 1px solid white;"></a></div>
</div>
